#loader_bg {
    background-color: rgb(20, 32, 46);
    color: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.loader_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 70px;
}

.loader_name {
    position: absolute;
    top: -9px;
    left: 3px;
    font-size: 36px;
}

.preloader_box {
    position: absolute;
    left: 60px;
    bottom: 0px;
}

.loading {
    position: absolute;
    bottom: 7px;
    left: 45%;
    transform: translate(-50%, 0);
    font-size: 13px;
}

#preloader {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 23px 0px 0px 0px rgb(255, 255, 255);
    margin: 36px 26px;
}

#preloader:after {
    position: absolute;
    top: 12px;
    left: 9px;
    background-color: #353535;
    width: 12px;
    height: 12px;
    box-shadow: 23px 0px 0px 0px #353535;
    border-radius: 55%;
    content: "";
    -webkit-animation: preloader_eyes 1s cubic-bezier(1, -0.2, 0.04, 1.22) infinite alternate;
    -moz-animation: preloader_eyes 1s cubic-bezier(1, -0.2, 0.04, 1.22) infinite alternate;
    animation: preloader_eyes 1s cubic-bezier(1, -0.2, 0.04, 1.22) infinite alternate;
}

@-webkit-keyframes preloader_eyes {
    0% {
        left: 7px;
    }
    100% {
        left: 2px;
    }
}

@-moz-keyframes preloader_eyes {
    0% {
        left: 7px;
    }
    100% {
        left: 2px;
    }
}

@keyframes preloader_eyes {
    0% {
        left: 7px;
    }
    100% {
        left: 2px;
    }
}
