/*testing box*/

/** {
    border: 1px solid red;
}*/

@font-face {
    font-family: "Raleway-regular";
    src: url("../fonts/Raleway-v4020-Regular.otf");
}

@font-face {
    font-family: "Raleway-bold";
    src: url("../fonts/Raleway-v4020-Bold.otf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "slider";
    src: url("../fonts/slider.ttf");
}

@font-face {
    font-family: "logo";
    src: url("../fonts/darqoo_font.ttf");
}

body {
    overflow-x: hidden;
    font-family: Raleway-regular;
    font-size: 14px;
}

.h100 {
    height: 100%;
}

.logo_slider {
    font-family: logo;
    font-size: 230px;
    color: black;
    text-shadow: 0px 0px 10px #ffffff, 0px 0px 10px #ffffff, 0px 0px 10px #ffffff, 0px 0px 10px #ffffff;
    line-height: 0px;
}

.logo {
    position: absolute;
    top: 68px;
    left: 19px;
    z-index: 99;
}

.logo img {
    width: 200px;
}

.carousel-caption {
    font-family: slider;
    text-shadow: 3px 3px 1px #000;
    bottom: 50%;
    transform: translate(0, 50%);
}

.carousel-caption h1 {
    font-size: 4rem;
}

.carousel-item {
    max-height: 100vh;
}

.alpha {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.font-black {
    color: #000;
    text-shadow: 1px 1px 2px #000;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.fdev, .photographer, .sky, .electro, .traveller {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.fdev {
    background-image: url("../images/fdev_2.jpg");
}

.photographer {
    background-image: url("../images/light_3.jpg");
}

.sky {
    background-image: url("../images/sky.jpg");
}

.electro {
    background-image: url("../images/electro.jpg");
}

.traveller {
    background-image: url("../images/mn.jpg");
}

.hack {
    border-top: 0px #eee solid;
    border-right: 0px #eee solid;
    border-bottom: 0px #eee solid;
    border-left: 3px #eee solid;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    line-height: 2;
    color: #525252;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1.1px #8990c3;
}

.section_title {
    background: #ffc300;
    float: left;
    padding: 14px 30px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
}

.section_desc {
    float: left;
    width: 100%;
    position: relative;
    font-size: 53px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #191919;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.title_separator {
    background: #ffc300;
    float: left;
    width: 185px;
    height: 3px;
    position: relative;
    margin-top: 11px;
}

.title_separator:before {
    content: '';
    background: #ffc300;
    position: absolute;
    top: -6px;
    left: 0;
    width: 65px;
    height: 5px;
}

.small_desc_title, .big_desc_title {
    font-family: Raleway-bold;
    color: #565658;
}

.small_desc_title {
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: -3px;
    margin-bottom: 10px;
}

.big_desc_title h2 {
    font-size: 26px;
    letter-spacing: 2px;
}

.desc {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.desc_align {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quote {
    background-image: url(./../images/code.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.quote_blur {
    background-color: rgba(0, 0, 0, 0.6);
    font-family: Raleway-bold;
    color: #fff;
}

.quote_blur p {
    font-family: Raleway-regular;
}

.service_box {
    padding: 10px;
    height: 100%;
}

.service_box_inner {
    border-top: 1px #565658 solid;
    border-right: 1px #565658 solid;
    border-bottom: 1px #565658 solid;
    border-left: 1px #565658 solid;
    padding: 10px;
    text-align: center;
    height: 100%;
}
.service_box_inner img {
    width: 90px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.service_box_inner h5 {
    background-color: #f1f1f1;
    font-weight: bold;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1rem;
}
.service_box_inner p {
    font-family: lato;
}

@media(max-width: 399.99px) {
    .logo {
        top: 42px;
    }
    .logo_slider {
        font-size: 150px;
    }
    .carousel-caption h1 {
        font-size: 2rem;
    }
    .carousel-caption p {
        font-size: 1rem;
    }
}

@media(max-width: 575.99px) {
    .section_title {
        font-size: 20px;
    }
    .section_desc {
        font-size: 45px;
    }
}

@media(min-width: 400px) and (max-width: 767.99px) {
    .logo_slider {
        font-size: 150px;
    }
    .logo {
        top: 50px;
    }
    .carousel-caption h1 {
        font-size: 2.5rem;
    }
    .carousel-caption p {
        font-size: 1.3rem;
    }
}
